.committee-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
    max-width: 1268px;
    width: 100%;
  }
  
  .committee-container {
    border-radius: 50px;
    background-color: white;
  
    width: 90%;
    height: 30%;
    padding-bottom: 1rem;
    overflow: hidden;
  }
  
  .committee-title {
    background-color: rgba(253, 254, 176, 1);
    width: 95%;
    padding: 0rem 1.5rem;
    justify-content: center;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    border-radius: 100px;
    font-weight: 800;
    color: black;
    display: flex;
    align-items: center;
    gap: 0.625rem;
  }
  
  .committee-icon {
    width: 3.2rem;
    position: relative;
    z-index: 1;
  }
  
  .committee-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.375rem;
    padding: 0 1.875rem;
  }
  
  .members-grid {
    width: 100%;
    max-width: 80rem;
  }
  
  .members-row {
    display: flex;
   flex-direction: row;
    gap: 1.25rem;
    justify-content: center;
    
  }
  
  .view-all-button {
    border-radius: 50px;
    background-color: orange;
    padding: 0.625rem 1.25rem;
    font-family: Inter, sans-serif;
    font-size: 0.875rem;
    font-weight: 800;
    border: none;
    cursor: pointer;
    margin-top: 1.25rem;
    transition: background-color 0.3s ease-in-out;
  }
  
  .view-all-button:hover {
    background-color: darkorange;
  }
  
  /* Responsive Design */
  @media (max-width: 991px) {
    .committee-container {
      border-radius: 60px;
      background-color: white;
      
      width: 90%;
      height: 40%;
      padding-bottom: 1.5rem;
      overflow: hidden;
    }
    .committee-title {
      padding: 0.2rem;
      font-size: 1rem;
      
      align-items: center;
      justify-content: center;
    }
  
    .committee-content {
      padding: 0rem;
    }
  
    .members-row {
      flex-direction: column;
      align-items: center;
    }
  }
  